.howToUse {
  //for arabic
  &[data-language="ar"] {
    font-family: $font--arabic !important;
    padding-right: 4rem;
    padding-left: 0;
  }
  &__title {
    font-size: 4rem;
    grid-column: col-start 2 / col-end 7;
    text-align: center;
    margin-bottom: 3rem;
    background-image: linear-gradient(
      to right,
      rgba($main--color, 1),
      rgba($main--color, 0.7)
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  padding-block: 4rem;
  grid-column: center-start / col-end 4;
  font-family: $native--font;
  display: grid;
  row-gap: 5rem;
  align-content: center;
  @media screen and (max-width: $bp--md) {
    grid-column: full-start / col-end 4;
    padding-left: 3rem;
  }

  &__step {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1.3rem;
    color: lighten($color--dark, 15%);

    &:hover {
      cursor: pointer;
    }

    &:hover .howToUse__step-num {
      border: solid 2px $main--color;
      background-color: $main--color;
      color: white;
    }
    &:hover .howToUse__step-text {
      color: black;
    }
  }
  &__step[step="1"] {
    .howToUse__step-num {
      border: solid 2px $main--color;
      background-color: $main--color;
      color: white;
    }
    .howToUse__step-text {
      color: black;
    }
  }
  &__step-num {
    align-self: flex-start;
    padding: 0.4rem;
    text-align: center;
    border: solid 2px black;
    font-size: 1.3rem;
    width: 3.2rem;
    border-radius: 50%;
    font-weight: 600;
    position: relative;
    color: black;
    transition: all 0.3s;
  }
  &__step-title {
    margin-bottom: 0.6rem;
    font-size: 1.8rem;
    font-weight: 600;
    transition: all 0.3s;
  }
  &__step-desc {
    font-size: 1.2rem;
    width: 80%;
    transition: all 0.3s;
    @media screen and (max-width: $bp--sm) {
      width: 100%;
    }

    // color: $color--dark;
  }
}

.howToUse__img {
  padding-block: 4rem;
  display: grid;
  place-items: center;

  grid-column: col-start 7 / center-end;
  @media screen and (max-width: $bp--md) {
    grid-column: col-start 5 / full-end;
    // padding-left: 1.5rem;
  }
  & img {
    width: 90%;
    outline: solid 3px $main--color;
    outline-offset: 6px;
    border-radius: 0.2rem;
    rotate: 2deg;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
    @media screen and (max-width: $bp--md) {
      width: 60%;
    }
  }
}
