@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

//break points

$bp--large: 62.5em;
$bp--md: 53em;
$bp--sm: 34em;
$bp--esm: 25em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media screen and (max-width: $bp--large) {
    font-size: 50%;
  }
  @media screen and (max-width: $bp--md) {
    font-size: 46%;
  }
  @media screen and (max-width: $bp--sm) {
    font-size: 43%;
  }
  @media screen and (max-width: $bp--esm) {
    font-size: 30%;
  }
}
body {
  font-family: $main--font;
}
.App[data-language="ar"] {
  font-family: $font--arabic;
  font-weight: 300 !important;
  text-align: right;
}