//colors

$main--color: #3289b4;
$accent--color: #f7931e;
$color--light: #cccccc;
$color--dark: #656565;

//fonts

$main--font: "Lato", sans-serif;
$font--arabic:'Readex Pro', sans-serif;
$native--font: "Poppins", sans-seri;
